<!DOCTYPE html>
<html>
<head>
  <title>Speak.js</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-4 col-xl-3 chat">
        <div class="card2 mb-sm-3 mb-md-0 contacts_card">
          <div class="card-header">
            <div class="input-group">
              <input type="text" placeholder="Search..." name="" class="form-control search">
              <div class="input-group-prepend">
                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
              </div>
            </div>
          </div>
          <div class="card-body contacts_body">
            <ui class="contacts">
              <li class="active" id='users'>
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img src="https://i.pinimg.com/originals/7c/e8/d6/7ce8d6c44b056a3e9eb84d31139f4132.png"
                      class="rounded-circle user_img">
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    <span>SYSTEME 🤖</span>
                    <p>online</p>
                  </div>
                </div>
              </li>
            </ui>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-md-8 col-xl-6 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
            </div>
            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
            <div class="action_menu">
              <ul>
                <li><i class="fas fa-user-circle"></i> View profile</li>
                <li><i class="fas fa-users"></i> Add to close friends</li>
                <li><i class="fas fa-plus"></i> Add to group</li>
                <li><i class="fas fa-ban"></i> Block</li>
              </ul>
            </div>
          </div>
          <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-4">
              <ul style="padding-left: 5px;" id="messages"></ul>
            </div>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
              </div>
              <input name="" class="form-control type_msg" id="input" autocomplete="off"
                placeholder="Type your message..." />
              <div class="input-group-append">
                <button style="border: none;outline-style: none;"
                  class="fas fa-location-arrow input-group-text send_btn" id="send">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
function htmlEncode(s){
  return String(s).replace(/[^\w. ]/gi, function(c){
     return '&#'+c.charCodeAt(0)+';'
  });
}

  var server = '<%=user.guild%>',
  username = '<%=user.username%>'
    socket = null
  try {
    socket = new WebSocket('wss://' + server)
  } catch (e) {
    new Error(e)
  }
  socket.onerror = function (e) {
    new Error(e)
  }
  socket.onclose = function (e) {
    console.log('connexion terminé.')
  }
  socket.onopen = function (e) {
    console.log('connexion établie avec succes')
    socket.send(JSON.stringify({
      username: username,
      event: 'new',
      avatar: '<%=user.avatar%>' || 'https://api.multiavatar.com/error.svg'
    }))
    function getmsg() {
      console.log(JSON.parse(JSON.stringify( <%-data.msg %> )))
      JSON.parse(JSON.stringify( <%-data.msg%> )).slice(Number('<%=data.number%>') < 20 ? 0 : -20).forEach(a => {
        var item = document.createElement('div')
        item.innerHTML = `
        <div class="d-flex justify-content-start mb-4">
          <div class="img_cont_msg">
            <img src="${a.avatar || 'https://api.multiavatar.com/error.svg'}"
            class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
              ${htmlEncode(a.content)}
              <span class="msg_time">${a.CreatedAt}</span>
            </div>
          </div>
        `
        messages.appendChild(item)
        window.scrollTo(0, document.body.scrollHeight)
      })
    }
    getmsg()

    socket.onmessage = function (m) {
      let e = JSON.parse(m.data)
      console.log(e)
      var request = new Request('/decrypte', {
        method: 'POST',
        body: JSON.stringify({
          'key': e.expire,
          'chaine': e.content
        }),
        headers: new Headers({
          'Content-Type': 'application/json'
        })
      })
      fetch(request).then(resp => resp.json().then(r => {
        console.log(e)
        if (e.event == 'msg') {
          var item = document.createElement('div')
          item.innerHTML = `
        <div class="d-flex justify-content-start mb-4">
          <div class="img_cont_msg">
            <img src="${e.avatar || 'https://api.multiavatar.com/error.svg'}"
            class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
              ${htmlEncode(r.content)}
              <span class="msg_time">${e.date}</span>
            </div>
          </div>
        `
          messages.appendChild(item)
          window.scrollTo(0, document.body.scrollHeight)
        } else if (e.event == 'new') {
          var element = document.createElement('div')
          element.innerHTML = `
          <div style="margin-top: 5px;" class="d-flex bd-highlight">
            <div class="img_cont">
              <img src="${e.avatar || 'https://api.multiavatar.com/error.svg'}"
                class="rounded-circle user_img">
              <span class="online_icon"></span>
            </div>
            <div class="user_info">
              <span>${htmlEncode(e.user)}</span>
              <p>online</p>
            </div>
          </div>
          `
          document.getElementById('users').appendChild(element)
          window.scrollTo(0, document.body.scrollHeight)
          var item = document.createElement('div')
          item.innerHTML = `
        <div class="d-flex justify-content-start mb-4">
          <div class="img_cont_msg">
            <img src="https://i.pinimg.com/originals/7c/e8/d6/7ce8d6c44b056a3e9eb84d31139f4132.png"
            class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
              ${htmlEncode(r.content)}
              <span class="msg_time">${e.date}</span>
            </div>
          </div>
        `
          messages.appendChild(item)
          window.scrollTo(0, document.body.scrollHeight)
        }
      })).catch(err => console.error(err))
    }


    var input = document.getElementById('input')

    document.getElementById('send').addEventListener('click', function (e) {
      e.preventDefault();
      if (input.value) {
        let ch = Date.now() + 1800000 / 2.3 * 5.5
        var request = new Request('/crypte', {
          method: 'POST',
          body: JSON.stringify({
            'key': String(ch),
            'chaine': htmlEncode(input.value)
          }),
          headers: new Headers({
            'Content-Type': 'application/json'
          })
        })
        fetch(request).then(resp => resp.json().then(r => {
          socket.send(JSON.stringify({
            username: username,
            content: r.content,
            event: 'msg',
            avatar: '<%=user.avatar%>',
            expire: ch
          }))
        })).catch(err => console.error(err))
        input.value = ''
      }
    })

  }
  var inputxx = document.getElementById("input");

inputxx.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
    document.getElementById("send").click();
  }
});


</script>

</html>
